<!DOCTYPE html>
<html>
<head></head>
<body>
How similar are these two words?<br>
<br>
<b>{{word1}}</b> - <b>{{word2}}</b><br>
<br>
<form action = "/polls/" method="POST">
{% csrf_token %}
<input type="hidden" name="wordpair" value="{{wordpair}}">
<input type="submit" name="option" value="0">
<input type="submit" name="option" value="1">
<input type="submit" name="option" value="2">
<input type="submit" name="option" value="3">
<input type="submit" name="option" value="4">
<br>
<br>
<input type="submit" name="dontknow" value="I don't know">
</form>
<br>
<br>
<br>
  <ul>
	<li>
		<b>4: Very similar</b> -- The two words are synonyms (e.g., midday-noon).</li>
	<li>
		<b>3: Somewhat similar</b> -- The two words share many of the important ideas of their meaning but include slightly different details. They refer to similar but not identical concepts (e.g., tiger-lion).</li>
	<li>
		<b>2: Slightly similar</b> -- The two words do not have a very similar meaning, but share a common topic/domain/function and ideas or concepts that are related (e.g., house-window).</li>
	<li>
		<b>1: Somewhat related but dissimilar</b>&nbsp;-- The two items describe clearly dissimilar concepts, but may share some small details or a domain in common and might be likely to be found together in a longer document on the same topic (e.g., software-keyboard).</li>
	<li>
		<b>0: Unrelated</b> -- The two items do not mean the same thing and are not on the same topic (e.g., pencil-frog).</li>
</ul>
</body>
</html>



